/* Font Declarations */

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@latest/docs/font-files/Inter-roman.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(https://cdn.jsdelivr.net/gh/rsms/inter@latest/docs/font-files/Inter-italic.var.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@master/fonts/webfonts/JetBrainsMono-BoldItalic.woff2) format('woff2');
}


:root {
  --base-font-family: Inter, sans-serif;
  --mono-font-family: 'JetBrains Mono';
  --header-height: 40px;
  font-variant-ligatures: none;
  /* font-size: 1.5vw; */
}

@media screen and (min-width: 640px) {
  :root {
    --header-height: 60px;
  }
}

:target {
  scroll-margin-top: calc(30px + var(--header-height));
}

body {
  font-family: var(--base-font-family);
  margin: 0;
  padding: 0;
}

/* inline elements */

.texttt,
kbd,
pre.verbatim,
span.extracttheme,
span.classoption-heading,
span.extractclass,
div.begin-environment,
div.end-environment,
div.beameroption-headline {
  font-family: var(--mono-font-family);
}

.textsc {
  font-variant: small-caps;
  font-weight: 450;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: rgb(9, 105, 218)
}

.angle {
  display: inline;
  font-size: 140%;
  line-height: 0.5;
  vertical-align: -2px
}

.declare {
  color: red;
}

span.opt {
  color: green;
}

span.meta {
  font-family: var(--base-font-family);
}

span.paragraph {
  font-weight: 500;
}


/* div */

div.command-headline {
  font-family: var(--mono-font-family);
}

pre.verbatim {
  overflow-x: auto;
  background-color: #d4dce6;
  padding: 1ex;
}



div.hidden {
  display: none;
}


/* tex and latex logo */

.latexlogosup {
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 500;
  margin-left: -.45em;
  margin-right: -.15em;
  position: relative;
  bottom: .62ex;
}

.latexlogosub {
  text-transform: uppercase;
  margin-left: -0.18em;
  margin-right: -0.05em;
  bottom: -0.5ex;
  position: relative;
}

div.themeexample-image object {
  width: 100%;
}

@media screen and (min-width: 640px) {
  div.themeexample-image object {
    width: 46%;
  }
}

/* section heading */

h4 {
  font-size: 150%;
}

h5 {
  font-size: 130%;
}

h6 {
  font-size: 110%;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "left"
    "content"
    "footer";
}

@media screen and (min-width: 640px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header header"
      "left content"
      "footer footer";
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "left content right"
      "footer footer footer";
  }
}

.bodyandsidetoc > header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: #1a458f;
  color: #fff;
  height: var(--header-height);
  position: sticky;
  top: 0;
  padding: 0; 
  margin: 0;
  z-index: 5;
}

div.sidetoccontainer {
  float: none;
  border-right: 1px solid silver;
  border-radius: 0;
  padding: 0;
  font-size: 0.9em;
}

.sidetoctitle:first-child {
  display: none;
}

#chapter-toc-container {
  grid-area: left;
  background-color: rgb(242, 242, 242);
  border-right: 1px solid #ccc;
}

@media screen and (max-width: 639px) {
  #chapter-toc-container {
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.15s;
    position: fixed;
    z-index: 1000;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    overflow-y: scroll;
  }

  #chapter-toc-container.show-menu {
    transform: translateX(0);
  }
}

@media screen and (min-width: 640px) {
  #chapter-toc-container {
    width: 11em;
  }
}

#local-toc-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  #local-toc-container {
    grid-area: right;
    display: block;
    width: 13em;
  }
  
  #chapter-toc-container {
    width: 17em;
  }
}

@media screen and (min-width: 1280px) {
  #local-toc-container {
    width: 19em;
  }

  #chapter-toc-container {
    width: 19em;
  }
}

main.bodycontainer {
  grid-area: content;
  float: none;
  width: 100%;
  max-width: 100vw;
  padding-bottom: 40px;
}

nav {
  position: sticky;
  top: var(--header-height);
  max-height: calc(100vh - var(--header-height));
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scroll-padding: 100px;
}

#chapter-toc-container nav.sidetoc {
  max-height: none;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 1.2;
  font-size: 0.85em;
  padding: 2ex 1em 2ex 1em;
  border-top: 1px solid silver;
}

header strong {
  display: block;
  font-size: 1.1em;
  font-family: var(--base-font-family);
  margin: 0 0 0 0.5em;
}

header strong a,
header strong a:visited,
header strong a:hover {
  color: #fff !important;
  text-decoration: none;
}

#hamburger-button {
  font-family: "Linux Libertine O", "Hoefler Text", "Garamond", "Bembo",
    "Janson", "TeX Gyre Pagella", "Palatino", "Liberation Serif",
    "Nimbus Roman No 9 L", "FreeSerif", Times, "Times New Roman", serif;
  padding-left: 0.5em;
  padding-right: 0.2em;
  cursor: pointer;
  font-size: 1.3em;
}

@media screen and (min-width: 640px) {
  #hamburger-button {
    display: none;
  }

  .mobile-toc {
    display: none;
  }
}

#search {
  margin-left: auto;
  margin-right: 1em;
}

@media screen and (min-width: 750px) {
  #search > button {
    width: 13em;
  }
}

@media screen and (min-width: 1280px) {
  #search > button {
    width: 19em;
  }
}

.DocSearch {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.DocSearch header {
  border-bottom: 0px;
}

.search-input {
  margin-right: 0.3em;
  width: 10em;
  font-size: 0.9em;
  padding: 1px 3px;
}

@media screen and (min-width: 640px) {
  header strong {
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  .search-input {
    margin-right: 1em;
    width: 14em;
    font-size: 105%;
    padding: 3px 5px;
  }

  #chapter-toc-container nav.sidetoc {
    max-height: calc(100vh - var(--header-height));
  }
}

section.textbody {
  margin: 0ex 1em 0ex 1em;
}

/* do not show some elements */

.textbody h1 {
  display: none;
}

h2.inserted {
  display: none;
}


/* headings h1, h2, etc. */

h1,
h2,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin: 1ex 0 1ex 0;
  text-align: center;
}

h4 {
  font-size: 1.75em;
  margin: 0;
  margin-bottom: -0.3em;
}

h5 {
  font-size: 1.5em;
  margin: 1.5ex 0 1ex 0;
  line-height: 1.3;
}

h6 {
  font-size: 1.25em;
  margin: 1.5ex 0 1ex 0;
}

h5,
h6 {
  display: flex;
}

h5 > .anchor-link,
h6 > .anchor-link {
  margin-left: auto;
  font-size: 85%;
  color: #000080;
  opacity: 0.4;
  font-weight: normal;
  padding-left: 5px;
}

h5 > .anchor-link:hover,
h6 > .anchor-link:hover {
  background-color: rgb(201, 204, 243);
  text-decoration: none;
}

h5:hover > .anchor-link,
h6:hover > .anchor-link {
  opacity: 1;
}

div.sidetoccontents {
  overflow-y: auto;
  width: 100%;
  text-align: left;
}


nav.sidetoc .sidetoccontents p {
  margin: 0;
  line-height: 1.2;
  /* font-size: 110%; */
}

nav.sidetoc .sidetoccontents > p.current-part {
  background-color: rgb(219, 221, 243);
}

nav.sidetoc .sidetoccontents > p.current {
  background-color: rgb(195, 199, 241);
}

nav.sidetoc .sidetoccontents a {
  display: block;
  padding: 0.5em 0.5em 0.5em 0;
  text-indent: 0;
  font-weight: bold;
  font-size: 0.85em;
}

.sidetoccontents p:hover,
nav.sidetoc .sidetoccontents > p.current-part:hover {
  background-color: rgb(174, 178, 240);
}

nav.sidetoc .sidetoccontents a.tocpart,
nav.sidetoc .sidetoccontents a.linkintro,
nav.sidetoc .sidetoccontents a.tocsubsection {
  margin-left: 1em;
}

nav.sidetoc .sidetoccontents a.tocsection,
nav.sidetoc .sidetoccontents a.tocsubsubsection {
  font-weight: normal;
  margin-left: 1.3em;
  padding-left: 1.3em;
  border-left: 1px solid rgb(75, 78, 114);
}

div.package:first-child {
  margin-left: 3em;
}

/* home page toc */

body.home-page nav.toc > p > a {
  display: block;
  margin-left: 1em;
}

/* div.command { */
/*   padding-left: 3em; */
/* } */

div.command > p,
div.environment > p,
div.solution > p,
div.environment > pre.verbatim,
div.package > pre.verbatim,
div.command > pre.verbatim,
div.package > p:nth-child(n+2),
div.package > div.classoption,
div.classoption > p:nth-child(n+2),
div.class > p:nth-child(n+2) {
  margin-left: 3em;
}

div.environment p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Home page */

.manual-title-block {
  text-align: center;
  border: 1px solid black;
  margin: 1ex auto;
  padding: 0.2em;
  padding-top: 1em;
}

.manual-title {
  font-size: 2.5em;
}

.manual-version {
  font-size: 1.5em;
}

.manual-html-title {
  font-size: 1.2em;
  font-style: italic;
  margin: 1em 0 0.3em 0;
}

.manual-authorship-explanation,
.manual-html-explanation {
  margin: 0 auto;
  margin-bottom: 0.2em;
  max-width: 60em;
  font-size: 1em;
  text-align: center;
}

.manual-html-explanation {
  margin-bottom: 0.7em;
}
